In [36]:
import pandas as pd
import sqlalchemy as alch

# Importing the getpass function from the getpass module.
from getpass import getpass

In [37]:
# Reading the csv file and storing it in a dataframe called df.
actors = pd.read_csv("../data/top10_actors.csv", sep = ";")
directors = pd.read_csv("../data/top10_directors.csv", sep = ";")

In [38]:
actors.head(2)

,name,image,description,positions,known_for
0,Adam Sandler,https://m.media-amazon.com/images/M/MV5BMjQyNz...,"Adam Richard Sandler was born September 9, 196...",Actor | Producer | Writer,El aguador
1,Adam Sandler,https://m.media-amazon.com/images/M/MV5BMjQyNz...,"Adam Richard Sandler was born September 9, 196...",Actor | Producer | Writer,Bobby Boucher

In [39]:
directors.head(2)

,name,image,description,positions
0,McG,https://m.media-amazon.com/images/S/sash/FjpOu...,McG was born on August 9 1968 in Kalamazoo Mic...,Producer | Additional Crew | Director
1,John Schultz,https://m.media-amazon.com/images/M/MV5BMTY5MD...,No description for John Schultz,Director | Writer | Producer

In [40]:
# Asking for the password of the MySQL database.

password = getpass("MySQL password: ")

In [41]:

# Creating a variable called db_name and assigning it the value of "Netflix"
db_name = "Netflix"

# Creating a connection string to the database.
conexion = f"mysql+pymysql://root:{password}@localhost/{db_name}"

# Creating an engine to connect to the database.
engine = alch.create_engine(conexion)

# Insert data

## Actors

In [42]:
actors.head()

,name,image,description,positions,known_for
0,Adam Sandler,https://m.media-amazon.com/images/M/MV5BMjQyNz...,"Adam Richard Sandler was born September 9, 196...",Actor | Producer | Writer,El aguador
1,Adam Sandler,https://m.media-amazon.com/images/M/MV5BMjQyNz...,"Adam Richard Sandler was born September 9, 196...",Actor | Producer | Writer,Bobby Boucher
2,Maya Rudolph,https://m.media-amazon.com/images/M/MV5BMTMzOT...,"Maya Rudolph was born on July 27, 1972 in Gain...",Actress | Producer | Writer,La boda de mi mejor amiga
3,Maya Rudolph,https://m.media-amazon.com/images/M/MV5BMTMzOT...,"Maya Rudolph was born on July 27, 1972 in Gain...",Actress | Producer | Writer,Lillian
4,Andrew Bachelor,https://m.media-amazon.com/images/M/MV5BOTUyMT...,"Over the last few years, Andrew Bachelor, bett...",Actor | Director | Writer,La primera vez que nos vimos

In [43]:
# Replacing all the single quotes with nothing.
actors["description"] = actors["description"].str.replace("'", "")
actors["name"] = actors["name"].str.strip()

In [44]:
for index, row in actors.iterrows():
    
    # Selecting the idActors from the actors table where the name is equal to the name of the row.
    actors_id = engine.execute(f"""select idActors from actors WHERE name = "{row['name']}";""")

    if len(list(actors_id)) > 0: 
        print("sorry this id is already in our database")
        
    else: 
        engine.execute(f"""
            INSERT INTO actors (name, description, positions) VALUES 
            ( "{row['name']}", '{row['description']}', "{row['positions']}")
            """)

sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database

## Directors

In [45]:
directors.head(2)

,name,image,description,positions
0,McG,https://m.media-amazon.com/images/S/sash/FjpOu...,McG was born on August 9 1968 in Kalamazoo Mic...,Producer | Additional Crew | Director
1,John Schultz,https://m.media-amazon.com/images/M/MV5BMTY5MD...,No description for John Schultz,Director | Writer | Producer

In [46]:
directors["description"] = directors["description"].str.replace("'", "")
directors["name"] = directors["name"].str.strip()

In [51]:
for index, row in directors.iterrows():
    
    
    # Selecting the idActors from the actors table where the name is equal to the name of the row.
    directors_id = engine.execute(f"""select iddirectors from directors WHERE director = "{row['name']}";""")

    
    
    
    if len(list(directors_id)) > 0: 
        print("sorry this id is already in our database")
        
    else: 
        print(f"""
            INSERT INTO directors (director, description, positions) VALUES 
            ( "{row['name']}", '{row['description']}', "{row['positions']}")
            """)
        engine.execute(f"""
            INSERT INTO directors (director, description, positions) VALUES 
            ( "{row['name']}", '{row['description']}', "{row['positions']}")
            """)

sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database
sorry this id is already in our database

            INSERT INTO directors (director, description, positions) VALUES
            ( "Robert Rodriguez", 'Robert Anthony Rodriguez was born and raised in San Antonio Texas USA to Rebecca (Villegas) a nurse and Cecilio G. Rodríguez a salesman. His family is of Mexican descent.

Of all the people to be amazed by the images of John Carpenters 1981 sci-fi parable 1997: Rescate en Nueva York (1981) none were as captivated as the 12-year-old Rodriguez who sat with his friends in a crowded cinema. Many people watch films and arrogantly proclaim "I can do that." This young man said something different: "I WILL do that. Im gonna make movies." That day was the catalyst of his dream career. Born and raised in Texas Robert was the middle child of a family that would include 10 children. While many a child would easily succumb to a Jan Brady sense of being lost in the shuffle Robert always stood out as a very creative and very active young man. An artist by nature he was very rarely seen sans pencil-in-hand doodling some abstract (yet astounding) dramatic feature on a piece of paper. His mother not a fan of the "dreary" cinema of the 1970s instills a sense of cinema in her children by taking them on weekly trips to San Antonios famed Olmos Theatre movie house and treats them to a healthy dose of Hollywoods "Golden Age" wonders from Sergio Leone to the silent classic of Charles Chaplin and Buster Keaton.

In a short amount of time young Robert finds the familys old Super-8 film camera and makes his first films. The genres are unlimited: action sci-fi horror drama stop-motion animation. He uses props from around the house settings from around town and makes use of the largest cast and crew at his disposal: his family. At the end of the decade his father a salesman brings home the latest home-made technological wonder: a VCR and with it (as a gift from the manufacturer) a video camera. With this new equipment at his disposal he makes movies his entire life. He screens the movies for friends all of whom desperately want to star in the next one. He gains a reputation in the neighborhood as "the kid who makes movies". Rather than handing in term papers he is allowed to hand in "term movies" because as he himself explains "[the teachers] knew Id put more effort into a movie than I ever would into an essay." He starts his own comic strip "Los Hooligans". His movies win every local film competition and festival. When low academic grades threaten to keep him out of UT Austins renowned film department he proves his worth the only way he knows how: he makes a movie. Three in fact: trilogy of short movies called "Austin Stories" starring his siblings. It beats the entries of the schools top students and allows Robert to enter the program. After being accepted into the film department Robert takes $400 of his own money to make his "biggest" film yet: a 16mm short comedy/fantasy called Bedhead (1991).

Pouring every idea and camera trick he knew into the short it went on to win multiple awards. After meeting and marrying fellow Austin resident Elizabeth Avellan Robert comes up with a crazy idea: he will sell his body to science in order to finance his first feature-length picture (a Mexican action adventure about a guitarist with no name looking for work but getting caught up in a shoot-em-up adventure) that he will sell to the Spanish video market and use as an entry point to a lucrative Hollywood career. With his "guinea pig" money he raises a mere $7000 and creates El mariachi (1992). But rather than lingering in obscurity the film finds its way to the Sundance film festival where it becomes an instant favorite wins Robert a distribution deal with Columbia Pictures and turns him into an icon among would-be film-makers the world over. Not one to rest on his laurels he immediately helms the straight-to-cable movie El indomable (1994) and contributes a segment to the anthology comedy Four Rooms (1995) (his will be the most lauded segment).

His first "genuine" studio effort would soon have people referring to him as "John Woo from south-of-the-border". It is the "Mariachi" remake/sequel Desperado (1995). More lavish and action-packed than its own predecessor the movie--while not a blockbuster hit--does decent business and launches the American film careers of Antonio Banderas as the guitarist-turned-gunslinger and Salma Hayek as his love interest (the two would star in several of his movies from then on). It also furthers the directors reputation of working on low budgets to create big results. In the year when movies like Batman Forever (1995) and GoldenEye (1995) were pushing budgets past the $100 million mark Rodriguez brought in "Desperado" for just under $7 million. The film also featured a cameo by fellow indie film wunderkind Quentin Tarantino. It would be the beginning of a long friendship between the two sprinkled with numerous collaborations. Most notable the Tarantino-penned vampire schlock-fest Abierto hasta el amanecer (1996). The kitschy flick (about a pair of criminal brothers on the run from the Texas Rangers only to find themselves in a vamp-infested Mexican bar) became an instant cult favorite and launched the lucrative film career of Urgencias (1994) star George Clooney.

After a two-year break from directing (primarily to spend with his family but also developing story ideas and declining Hollywood offers) he returned to "Dusk till Dawn" territory with the teen sci-fi/horror movie The Faculty (1998) written by Scream: Vigila quién llama (1996) writer Kevin Williamson. Although its developed a small following of its own it would prove to be Roberts least-successful film. Critics and fans alike took issue with the pedestrian script the off-kilter casting and the flicks blatant over-commercialization (due to a marketing deal with clothing designer Tommy Hilfiger). After another three-year break Rodriguez returned to make his most successful (and most unexpected) movie yet based on his own segment from Four Rooms (1995). After a string of bloody adult-oriented action fare no one anticipated him to write and direct the colorful and creative Spy Kids (2001) a movie about a pair of prepubescent Latino sibs who discover that their lame parents (Antonio Banderas and Carla Gugino) are actually two of the worlds greatest secret agents. The film was hit among both audiences and critics alike.

After quitting the Writers Guild of America and being introduced to digital filmmaking by George Lucas Robert immediately applied the creative flexible (and cost-effective) technology to every one of his movies from then on starting with an immediate sequel to his family friendly hit: Spy Kids 2: La isla de los sueños perdidos (2002) which was THEN immediately followed by the trilogy-capper Spy Kids 3: Game Over (2003). The latter would prove to be the most financially-lucrative of the series and employ the long-banished movie gimmick of 3-D with eye-popping results. Later the same year Rodriguez career came full circle when he completed the final entry of the story that made brought him to prominence: "El Mariachi". The last chapter El mexicano (2003) would be his most direct homage to the Sergio Leone westerns he grew up on. With a cast boasting Antonio Banderas (returning as the gunslinging guitarist) Johnny Depp (as a corrupt CIA agent attempting to manipulate him) Salma Hayek Mickey Rourke Willem Dafoe and Eva Mendes the film delivered even more of the Mexican shoot-em-up spectacle than both of the previous films combined.

Now given his choice of movies to do next Robert sought out famed comic book writer/artist Frank Miller a man who had been very vocal of never letting his works be adapted for the screen. Even so he was wholeheartedly convinced and elated when Rodriguez presented him with a plan to turn Millers signature work into the film Sin City: Ciudad del pecado (2005). A collection of noir-ish tales set in a fictional crime-ridden slum the movie boasted the largest cast Rodriguez had worked with to that date. Saying he didnt want to mere "adapt" Millers comics but "translate" them Rodriguez insistence that Miller co-direct the movie lead to Roberts resignation from the Directors Guild of America (and his subsequent dismissal from the film John Carter (2012) as a result). Many critics cited that Sin City was created as a pure film noir piece to adapt Millers comics onto the screen. Co-directing with Frank Miller and bringing in Quentin Tarantino to guest-direct a scene allowed Rodriguez to again shock Hollywood with his talent.

In late 2007 Rodriguez again teamed up with his friend Tarantino to create the double feature Grindhouse (2007). Rodriguezs offering Grindhouse: Planet Terror (2007) was a film made to be "hardcore extreme sex-fueled action-packed." Rodriguez flirts with his passion to make a showy film exploiting all of his experience to make an extremely entertaining thrill ride. The film is encompassed around Cherry (Rose McGowan) a reluctant go-go dancer who is found wanting when she meets her ex-lover El Wray (played by Freddy Rodríguez) who turns up at a local BBQ grill. They then after a turn of events find themselves fending off brain-eating zombies whilst trying to flee to Mexico (here we go off to Mexico again). Apart from directing Rodriguez also involves himself in camera work editing and composing music for his movies sound tracks (he composed Planet Terrors main theme). He also shoots a lot of his own action scenes to get a direct idea from his eye as the director into the film. In El mariachi (1992) Rodriguez spent hours in front of a pay-to-use computer editing his film. This allowed him to capture the ideal footage exactly as he wanted it. Away from the filming aspect of Hollywood Rodriguez is an expert chef who cooks gourmet meals for the cast and crew. Rodriguez is also known for his ability to turn a low-budgeted film with a small crew into an example of film mastery. El mariachi was "the movie made on seven grand" and still managed to rank as one of Rodriguez best films (receiving a rating of 92% on the Rotten Tomatoes film review site).

Because Rodriguez is involved so deeply in his films he is able to capture what he wants first time which saves both time and money. Rodriguezs films share some similar threads and ideas whilst also having differences. In El mariachi (1992) he uses a hand-held camera. He made this decision for several reasons. First he couldnt afford a tripod and secondly he wanted to make the audience more aware of the action. In the action sequences he is given more mobility with a hand-held camera and also allows for distortion of the unprofessional action sequences (because the cost of all special effects in the film totaled $600). However in Sin City: Ciudad del pecado (2005) and Grindhouse: Planet Terror (2007) the budget was much greater and Rodriguez could afford to spend more on special affects (especially since both films were filmed predominately with green screen) and thus there was no need to cover for error.

Playing by his own rules or not at all Robert Rodriguez has redefined what a filmmaker can or cannot do. Shunning Hollywoods ridiculously high budgets multi-picture deals and the two most powerful unions for the sake of maintaining creative freedom are decisions that would (and have) cost many directors their careers. Rodriguez has turned these into his strengths creating some of the most imaginative works the big-screen has ever seen.', "Producer | Writer | Director")

TypeError: %o format: an integer is required, not dict